* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.container {
  max-width: 1083px;
  width: 100%;
  margin: auto;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background: url("../img/headerBG.png") no-repeat left top;
}

.header__block1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 40px;
}

.header__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #FDF6F6;
  text-decoration: none;
  margin-right: 118px;
}

.header__nav {
  margin-right: 290px;
}

.header__nav--item {
  font-size: 18px;
  line-height: 22px;
  color: #FDF6F6;
  font-weight: 500;
  margin-right: 55px;
  text-decoration: none;
}

.header__nav--item:last-child {
  margin-right: 0;
}

.header__sign {
  display: flex;
  align-items: center;
}

.header__sign--search {
  margin-right: 45px;
}

.header__sign--btn {
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: #FDF6F6;
  background: #F2B138;
  padding: 6px 16px;
  border-radius: 25px;
}

.header__block2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.header__block2--img {
  margin-top: 25px;
}

.header__title {
  font-weight: 700;
  font-size: 64px;
  color: #FDF6F6;
  margin-bottom: 28px;
}

.header__titles {
  padding-top: 144px;
}

.header__titles--btn {
  font-size: 15px;
  line-height: 18px;
  color: #FDF6F6;
  background: #F2B138;
  padding: 10px 44px 10px 22px;
  position: relative;
  text-decoration: none;
  border-radius: 25px;
}

.header__titles--btn::after {
  content: '';
  background: url("../img/ArrowRight1.svg") no-repeat center;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 13px;
  right: 15px;
}

.header__text {
  font-size: 18px;
  line-height: 22px;
  color: #FDF6F6;
  max-width: 613px;
  width: 100%;
  margin-bottom: 34px;
}

.photos {
  padding-top: 88px;
  padding-bottom: 98px;
}

.photos__block {
  display: flex;
  justify-content: space-between;
}

.photos--img1 {
  margin-right: 32px;
}

.photos--img4 {
  margin-bottom: 40px;
}

.photos__content1 {
  margin-right: 46px;
}

.photos__content1--block1 {
  margin-bottom: 40px;
}

.icons {
  padding-top: 17px;
  padding-bottom: 54px;
}

.icons__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons__link {
  margin-right: 55px;
}

.icons__link:last-child {
  margin-right: 0;
}

.catalog {
  padding-top: 78px;
  padding-bottom: 130px;
}

.catalog__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 49px;
}

.catalog__title {
  font-weight: 700;
  font-size: 38px;
  color: #2E2B2B;
  margin-bottom: 15px;
}

.catalog__link {
  color: #5E5873;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  position: relative;
}

.catalog__link::after {
  content: '';
  background: url("../img/ArrowRight.svg") no-repeat center;
  position: absolute;
  width: 28px;
  height: 28px;
  top: -5px;
  right: -30px;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
}

.catalog__card {
  padding: 16px 0px 0px 19px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
}

.catalog__card--title {
  display: flex;
  max-width: 205px;
  width: 100%;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 5px;
}

.catalog__card--text {
  color: #2E2B2B;
  font-size: 13px;
  font-weight: 500;
}

.catalog__card--span {
  margin-right: 20px;
  position: relative;
}

.catalog__card--span::after {
  content: '';
  position: absolute;
  background: url("../img/Stars.svg") no-repeat center;
  top: 2px;
  right: -20px;
  width: 15px;
  height: 15px;
}

.catalog__card--price {
  display: flex;
  max-width: 205px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  color: #2E2B2B;
}

.catalog__days {
  margin-left: 22px;
  position: relative;
  margin-bottom: 5px;
}

.catalog__days::before {
  content: '';
  position: absolute;
  background: url("../img/Clock.svg") no-repeat center;
  top: 2px;
  left: -22px;
  width: 15px;
  height: 15px;
}

.catalog__geo {
  margin-left: 22px;
  position: relative;
  margin-bottom: 10px;
}

.catalog__geo::before {
  content: '';
  position: absolute;
  background: url("../img/Home.svg") no-repeat center;
  top: 2px;
  left: -22px;
  width: 15px;
  height: 15px;
}

.catalog__btns {
  display: flex;
  align-items: center;
}

.catalog__btn1 {
  margin-right: 17px;
}

.catalog__btn2 {
  padding: 11px 74px;
  color: #FDF6F6;
  background: #388186;
  font-weight: 600;
  font-size: 11px;
  text-decoration: none;
}

.green__block {
  width: 94px;
  height: 6px;
  background: #388186;
}

.about__block {
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  color: #2E2B2B;
  margin-bottom: 24px;
}

.about__info {
  margin-left: 202px;
  margin-top: 200px;
}

.about__info2 {
  margin-right: 202px;
  margin-top: 200px;
}

.about__text {
  font-weight: 400;
  font-size: 12px;
  color: #000;
  max-width: 303px;
  width: 100%;
  margin-bottom: 24px;
}

.about__btn {
  padding: 10px 22px;
  border-radius: 24px;
  background: #F2B138;
  color: #FDF6F6;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
}

.join {
  background: #01727D;
  padding-top: 44px;
  padding-bottom: 66px;
}

.join__info {
  margin-right: 100px;
}

.join__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join__title {
  font-weight: 700;
  font-size: 38px;
  color: #FDF6F6;
  margin-bottom: 21px;
}

.join__text {
  font-weight: 500;
  font-size: 18px;
  color: #FDF6F6;
}

.join__btn1 {
  border-radius: 25px;
  background: #F2B138;
  color: #FDF6F6;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 22px;
  margin-right: 65px;
  text-decoration: none;
}

.join__btn2 {
  border-radius: 25px;
  border: 1px solid #FDF6F6;
  background: none;
  color: #FDF6F6;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 22px;
  text-decoration: none;
}

.footer {
  background: #2E2B2B;
}

.footer__block1 {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer__logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #FDF6F6;
  text-decoration: none;
}

.footer__block2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding-top: 107px;
  padding-bottom: 120px;
}

.footer__icons {
  margin-bottom: 32px;
}

.footer__icon {
  margin-right: 40px;
}

.footer__icon:last-child {
  margin-right: 0;
}

.footer__span {
  font-weight: 400;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}
/*# sourceMappingURL=style.css.map */