*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.container{
    max-width: 1083px;
    width: 100%;
    margin: auto;
}
html{
    font-family: 'Montserrat', sans-serif;
}